# fly.toml app configuration file generated for astro-interpretador-rag-fastapi on 2025-12-28T23:17:02Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'astro-interpretador-rag-fastapi'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8002
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
